$blue1: #0078d4;
$blue2: #0D49AF;
$sideNavColor: #f2f1f0;
$activeMenuColor: #dfdedc;
$tintColor: #808080;
$textColor: #2d141c;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8rem;
  color: $textColor;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background-color: $blue1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
      cursor: pointer;
      font-size: 2rem;
    }
    .title {
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 300;
      font-style: italic;
      margin: 0;
    }
  }

  .search {
    min-width: 40rem;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    .search-icon {
      color: $blue1;
      font-size: 1rem;
      cursor: pointer;
    }
    .search-control {
      border: none;
      outline: none;
      width: 100%;
      font-size: 1.2rem;
    }
    .search-selector {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: $textColor;
      white-space: nowrap;
      p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
      svg {
        font-size: 1.5rem;
      }
    }
  }

  .others {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
    svg {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .user-icon {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      margin: 0;
      padding: 0;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}

.main {
  display: flex;
  .sidebar {
    width: 15%;
    background-color: $sideNavColor;
    min-height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 4rem;
      li {
        display: flex;
        align-items: center;
        font-weight: 300;
        padding: 0.8rem 1rem;
        cursor: pointer;
        font-size: 0.9rem;

        svg {
          margin-right: 1rem;
          font-size: 1.2rem;
        }
        &:first-child,
        &:hover {
          background-color: $activeMenuColor;
          font-weight: bold;
        }
      }
    }
    .side-footer {
      padding: 1rem;
      margin-bottom: 3rem;
      button {
        border: 1px solid $blue1;
        font-size: 0.7rem;
        height: 3rem;
        width: 100%;
        cursor: pointer;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.2rem;
          color: $blue1;
          margin-right: 0.5rem;
        }
      }
      p {
        font-size: 0.7rem;
        margin-bottom: 1rem;
        &.link {
          color: $blue1;
          cursor: pointer;
        }
      }
    }
  }
  .main-content {
    width: 100%;
    .top-header {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ag-1,
      .ag-2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        div {
          cursor: pointer;
          i {
            &:first-child {
              color: $blue1;
            }
          }
        }
      }
      .ag-1 {
        gap: 0.2rem;
      }
    }
    .content {
      .title {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
      .files {
        padding: 2rem 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 4rem;
        .file {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          background-repeat: no-repeat;
          background-size: cover;
          height: 15rem;
          width: 10rem;
          cursor: pointer;
          &:hover {
            background-color: $sideNavColor;
          }
          text-align: center;
          .caption {
            background: linear-gradient(rgba(255, 255, 255, 0.499), rgba(0, 0, 0, 0.752));
            width: 100%;
            color: rgba(255, 255, 255, 0.633);
            padding-bottom: 0.5rem;
            padding-top: 3rem;
            font-style: italic;
            .title {
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0;
                margin: 0 0 0.5rem 0;
            }
            .time {
                font-size: 0.7rem;
                padding: 0;
                margin:0;
            }
          }
        }
      }
    }
  }
}

.header-btn {
  &.primary {
    background: $blue1;
    color: #fff;
    svg {
      color: #fff;
    }
  }
  &.blue {
    color: $blue1;
  }
  border-radius: 5px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: $tintColor;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  svg {
    font-size: 1.2rem;
  }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    .main {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 30rem;
      background-color: white;
      transform: translate(-50%, -50%);
      .loading {
          padding: 2rem 1rem 0rem 1rem;
          text-align: center;
          img {
              width: 3rem;
  
          }
          p {
  
              font-size: 1.3rem;
              font-weight: 500;
              color: $blue1;
          }
      }
      .header {
          padding: 0.5rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
              display: flex;
              align-items: center;
              font-weight: 600;
              img {
                  width: 2rem;
                  margin-right: 1rem;
              }
          }
          .close {
              padding: 0.5rem;
              cursor: pointer;
          }
      }
      hr {
          border-top: 0.3px solid rgba(221, 221, 221, 0.334);
      }
      .content {
          padding: 2rem;
        .logo {
            font-size: 1.3rem;
            font-weight: 300;
            color: $blue2;
           display: flex;
           align-items: center;
           gap: 0.3rem;
           margin: 0;
           padding: 0;
           svg {
            font-size: 4rem;
           }
        }
          .info-text {
            font-style: italic;
            font-size: 0.9rem;
            span {
                font-weight: bold;
                color: $blue1;
            }
          }
          .error {
              color: red;
              content: " ";
              font-size: 0.9rem;
              font-style: italic;
          }
          form {
              margin-top: 1rem;
              .form-group {
                  display: grid;
                  grid-template-columns: 1fr;
                  margin-bottom: 1rem;
                  label {
                      font-size: 1.3rem;
                      font-weight: 400;
                      margin-bottom: 0.5rem;
                  }
                  .form-control {
                      padding: 0.5rem 0;
                      border: none;
                      outline: none;
                      border-bottom: $blue1 1px solid;
                      &:focus {
                        border-bottom: $blue2 1px solid;
                      }
                  }
              }
              .info-tint {
                font-size: 0.8rem;
                color: $tintColor;
                font-style: italic;
              }
              .btn {
                  display: block;
                  text-align: right;
                  margin-top: 3rem;
                  button {
                      background-color: $blue2;
                      color: white;
                      border: none;
                      height: 2.5rem;
                      padding: 0 2rem;
                      border-radius: 3px;
                      cursor: pointer;
                      &:hover {
                          background-color: $blue1;
                      }
                      &:disabled {
                          cursor:default;
                          background-color: $blue1;
                      }
                  }
              }
          }
      }
    }
  }

  @media (max-width: 1010px) {
    .nav {
        .search {
            display: none;
        }
    }
    .main {
      .sidebar {
        display: none;
      }
    }
  }
  
  @media (max-width: 730px) {
    .main {
      .main-content {
        .content {
          .files {
            .file {
              padding: 0.5rem 1.25rem;
            }
          }
        }
      }
    }
    .modal {
      .main {
        min-width: 90%;
      }
    }
  }
  
  @media (max-width: 380px) {
    .main {
      .main-content {
        .top-header {
          display: none;
        }
      }
    }
  }